@import url("http://fonts.cdnfonts.com/css/cursed-timer-ulil");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color: #064D3B;
}
.head{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #262626;
    width: 100vw;
    height: 5rem;
    color: white;
    font-family: "Cursed Timer ULiL", sans-serif;

}
.home h1{
    color: white;
    padding-left: 2rem;
    margin-bottom: 1rem;
    
}
#home-btn{
    background-color: black;
    color: #F94D6C;
    width: 10rem;
    height: 7rem;
    font-size: 4rem;
    font-family: "Cursed Timer ULiL", sans-serif;
}
.frame{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    margin-top: 8rem;
}
.btn-operator{
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 2rem;
    
   
}
.guest h1{
    color: white;
    padding-left: 2rem;
    margin-bottom: 1rem;
}
#guest-btn{
    background-color: black;
    color: #F94D6C;
    width: 10rem;
    height: 7rem;
    font-size: 4rem;
    font-family: "Cursed Timer ULiL", sans-serif;

}
.operate{
    margin-left: 2rem;
}
.operate > button{
    margin-top: 1rem;
    width: 30px;
    height: 30px;
    margin-left: 4px;
    background-color: #034D3B;
    color: #6DE7B6;
    border: 1px solid #6DE7B6;
    border-radius: 4px;
    font-family: "Cursed Timer ULiL", sans-serif;
}
.operate > button:hover{
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.last-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    

}
#last{
    width: 7rem;
    height: 3rem;
    background-color: #6DE7B5;
    border-radius: 4px;
    color: #167754;
    border: none;
    font-family: "Cursed Timer ULiL", sans-serif;
}
#last:hover{
    background-color: white;
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-family: "Cursed Timer ULiL", sans-serif;
}
.Jehovah{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    color: white;
}